Development/runs/Mar17_15-16-15_gpu02.pri.sciama3.alces.network/events.out.tfevents.1679066175.gpu02.pri.sciama3.alces.network.67792.0
Development/runs/Mar17_15-18-18_gpu02.pri.sciama3.alces.network/events.out.tfevents.1679066298.gpu02.pri.sciama3.alces.network.68112.0
Development/runs/Mar17_15-59-35_gpu02.pri.sciama3.alces.network/events.out.tfevents.1679068775.gpu02.pri.sciama3.alces.network.71389.0
Development/runs/Mar17_15-59-35_gpu02.pri.sciama3.alces.network/events.out.tfevents.1679068775.gpu02.pri.sciama3.alces.network.71390.0
Development/runs/Mar17_15-59-35_gpu02.pri.sciama3.alces.network/events.out.tfevents.1679068775.gpu02.pri.sciama3.alces.network.71392.0
Development/runs/Mar17_15-59-44_gpu02.pri.sciama3.alces.network/events.out.tfevents.1679068785.gpu02.pri.sciama3.alces.network.71637.0
Development/runs/Mar17_16-04-16_gpu02.pri.sciama3.alces.network/events.out.tfevents.1679069056.gpu02.pri.sciama3.alces.network.72008.0
**.bin
**.pyc
**.sh
**.csv
error_logfile**
output_logfile**
Development/**